# ── Sequencer ──
RPC_URL=https://testnet.crosstoken.io:22001
POOL_ADDRESS=0x5fB82D522C4e3471cB2b9578E6f5284Cef8c9a4D
RELAYER_KEY=0x_YOUR_RELAYER_PRIVATE_KEY_HERE
OPERATOR_KEY=0x_YOUR_OPERATOR_PRIVATE_KEY_HERE
FROM_BLOCK=22723038
SEQ_PORT=3002
SEQ_POLL=5000
SEQ_CONFIRMATIONS=1

# ── Frontend (build-time) ──
NEXT_PUBLIC_SEQUENCER_URL=http://localhost:3002
NEXT_PUBLIC_POOL_ADDRESS=0x5fB82D522C4e3471cB2b9578E6f5284Cef8c9a4D
NEXT_PUBLIC_TOKEN_ADDRESS=0x9364ea6790f6e0ecfaa5164085f2a7de34ec55fb
NEXT_PUBLIC_CIRCUIT_URL=/circuit/latent_circuit.json
NEXT_PUBLIC_OPERATOR_ENC_PUB_KEY=0x_YOUR_OPERATOR_ENCRYPTION_PUBLIC_KEY_HERE
